<div class="modal-content">
    <h4>Nuevo usuario</h4>

    <%= form_for(@user) do |f| %>
    <div class="field">
        <%= f.label :email, "Correo" %>
        <%= f.text_field :email, autofocus: true, class: "validate", required: "true", placeholder:"ejemplo@correo.cl" %>
    </div>
    <div class="field">
        <%= f.label :name, "Nombres" %>
        <%= f.text_field :name, autofocus: true, class: "validate", required: "true", placeholder:"Tammy"  %>
    </div>
    <div class="field">
        <%= f.label :surname, "Apellidos" %>
        <%= f.text_field :surname, autofocus: true, class: "validate", required: "true", placeholder:"Lagos" %>
    </div>
    <div class="field">
        <%= f.label :password, "Contraseña" %>
        <%= f.password_field :password, autocomplete: "off", class: "validate", required: "true", placeholder:"seis caracteres mínimo." %>
    </div>
    <div class="field">
        <%= f.label :password_confirmation, "Confirmar contraseña" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "validate",required: "true", placeholder:"Vuelva a ingresar la contraseña." %>
    </div>
    <%= label :rol, "Rol" %>
    <div class="input-field">
        <select name="user[rol]" class="browser-default">
            <option value=3>Estudiante</option>
            <option value=2>Ayudante</option>
            <% if current_user.rol == 0 %><option value=1>Profesor</option><% end %>
        </select>
    </div>
    <%= label :program_id, "Programa" %>
    <div class="field">
        <select name="user[program_id]" class="browser-default">
            <% @programs.each do |program| %>
            <option value=<%= program.id %>><%= program.name %></option>
            <% end %>
        </select>
    </div>
    <br>
    <div class="field">
        <%= f.label "Sección" %>
        <div class="row">
            <% if current_user.rol == 0 %>
            <% @sections.each do |s| %>
            <div class="col s4 m4 l2">
                <div class="field" class: "validate" , required: "true">
                    <p><input id="NewSection<%= s.id%>" name="sections[]" type="checkbox" value="<%= s.id%>" />
                        <label for="NewSection<%= s.id%>"><%= s.code%></label></p>
                </div>
            </div>
            <% end %>
            <% elsif current_user.rol == 1 %>
            <div class="col s4 m4 l2">
                <div class="field">
                    <p>
                        <input id="NewSection<%= @seccion.id%>" name="sections[<%= @seccion.id%>]" type="radio" value="<%= @seccion.id%>" checked />
                        <label for="NewSection<%= @seccion.id%>"><%= @seccion.code%></label>
                    </p>
                </div>
            </div>
            <% end %>
        </div>
    </div><br>
    <div class="switch field">
        <%= label :status, "Estado" %><br>
        Suspendido
        <label>
            <%= f.check_box :status,{checked: true}%>
            <span class="lever"></span>
        </label>
        Activo
    </div>
</div>
<div class="modal-footer">
    <a class=" modal-action modal-close waves-effect left btn red ">Volver</a>
    <%= f.submit 'Crear usuario', :class  => "btn right" %>
    <% end %>
</div>