<div class="container" style="padding-top:5%">
    <div class="row">
        <div class="col s12">
            <% if @section.errors.any? %>
            <div class="card-panel card-fix red lighten-4 red-text center-align">
                <i class="material-icons medium">mood_bad</i>
                <h5 class="h5-fix"><b>Ups!, algo no salio bien ... </b></h5>
                <p style="margin: 4px;">- NO SE PUDO CREAR LA NUEVA SECCIÓN -</p>
            </div>
            <% end %>
            <% if notice %>
            <div class="card-panel card-fix green lighten-4 green-text center-align">
                <i class="material-icons medium ">mood</i>
                <h5 class="h5-fix"><b>Todo bien ... </b></h5>
                <p class="alert" style="margin: 4px;">- <%= notice %> -</p>
            </div>
            <% end %>
            <% if alert %>
            <div class="card-panel card-fix red lighten-4 red-text center-align">
                <i class="material-icons medium">mood_bad</i>
                <h5 class="h5-fix"><b>Ups!, algo no salio bien ... </b></h5>
                <p style="margin: 4px;">- NO SE PUDO ACTUALIZAR LA SECCIÓN -</p>
            </div>
            <% end %>
            <h2 style="display: inline"><b>Secciones</b></h2>
            <a class="right btn-floating btn-large waves-effect waves-light btn green accent-4 tooltipped modal-trigger" href="#nuevaSeccion" data-position="top" data-delay="50" data-tooltip="Nueva sección" style="margin-left:1rem"><i class="material-icons" style="font-size:2.4rem">group_add</i></a>
            <hr>
            <table class="striped">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th class="center">Sección</th>
                        <th class="center">Semestre</th>
                        <th class="center">Tipo</th>
                        <th class="center">Estudiantes</th>
                        <th class="center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% n = 1 %>
                    <% @sections.each do |section| %>

                    <!-- Modal Ver Sección -->
                    <div id="verSeccion<%= section.id %>" class="modal modal-fixed-footer col l4 offset-l2">
                        <%= render :partial => "sections/shared/show_section", locals: {section: section} %>
                    </div>
                    <!-- Modal Editar Sección -->
                    <div id="editarSeccion<%= section.id %>" class="modal modal-fixed-footer col l4 offset-l2" style="height: 360px;">
                        <%= render :partial => "sections/shared/edit_section", locals: {section: section} %>
                    </div>
                    <% section.users.where(rol: 3).each do |s| %>
                    <div id="verEstudiante<%= s.id%>" class="modal">
                        <%= render :partial => "users/shared/show_user", locals: {user: s} %>
                    </div>
                    <% end %>

                    <tr>
                        <td><%= n %></td>
                        <td class="center">
                            <%= section.code %>
                        </td>
                        <td class="center">
                            <%= section.semester.to_s + '/' + section.year.to_s %>
                        </td>
                        <td class="center">
                            <% section.section_type.name %>
                        </td>
                        <td class="center">
                            <%= section.users.where(rol: 3).count %>
                        </td>
                        <td class="center">
                            <a class="btn btn-floating waves-effect waves-light modal-trigger" href="#verSeccion<%= section.id%>" style="background-color:#2196f3; border-color:#0d8aee"><i class="material-icons">people_outline</i></a>
                            <a class="btn btn-floating waves-effect waves-light modal-trigger" href="#editarSeccion<%= section.id%>" style="background-color:#ff9800; border-color:#e68900"><i class="material-icons">mode_edit</i></a>
                            <%= link_to '<i class="material-icons">delete_forever</i>'.html_safe, section, method: :delete, data: { confirm: "¿Estás seguro que deseas eliminar a esta sección?" },class: "btn-floating waves-effect waves-light red" %>
                        </td>
                    </tr>
                    <% n = n + 1%>
                    <% end %>
                </tbody>
            </table>
            <div id="nuevaSeccion" class="modal modal-fixed-footer col l4 m6 offset-l2 offset-m2" style=" height: 360px;">
                <%= render :partial => "sections/shared/new_section"%>
            </div>
        </div>
    </div>
</div>