<div id="principal_student" class="section scrollspyTitle title_sub">
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12 center-align">
                <h1 id="hero_title" style="color:white"><strong class="bold">¡Bienvenido estudiante!, </strong>
                    <% if current_user.accept_model == true %>
                    <% if !current_user.group.present? %>
                    <span class="light">Tu equipo se sera organizado por el profesor, ahora necesitamos que contestes unos test (<%= link_to 'Personalidad',test_eneagrama_path %>, <%= link_to 'Afinidad social',test_social_path %>)</span>
                    <% else %>
                    <span class="light">¡Tu equipo ya fue conformado! (<%= link_to 'Ir a ver',mi_equipo_path %>)</span>
                    <% end %>

                    <% elsif current_user.accept_model == false %>
                    <span class="light">Suerte organizando a tu grupo ;)</span>
                    <% else %>
                    <span class="light">infórmate y elige una opción para generar tu equipo de trabajo</span>
                    <% end %>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="center-align">
                    <% if current_user.accept_model != false %>
                    <a href="#proposito" class="btn btn-large ">Informarme</a>
                    <% end %>
                    <% if current_user.accept_model == nil %>
                    <a href="#eleccion" class="btn btn-large white grey-text">Elegir</a>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<% if current_user.accept_model != false %>
<div class="row" style="margin-bottom: 0px;">
    <div class="col s12 m9 l10" style="padding: 0 0;">
        <div class="divider"></div>
        <div class="section scrollspy title_sub features-orange lighten-2 white-text" id="proposito">
            <div style="padding: 0 4rem;">
                <div class="icon-block">
                    <h2 class="center"><i class="material-icons large">group</i></h2>
                </div>
                <h1 class="center"><strong class="bold">PROPÓSITO</strong></h1>
                <br>
                <blockquote style="border-left: 5px solid #607D8B;">
                    <p class="flow-text" align="justify">Apoyar el proceso de selección de <strong class="bold">equipos de trabajo</strong> para la sección <%= current_user.sections.first.section %>, considerando factores interpersonales y personales apoyados por un sistema de clasificación de personalidad y afinidad social.</p>
                </blockquote>
            </div>
        </div>
        <div class="divider"></div>
        <div class="section scrollspy title_sub white-text features-purple" id="tests">
            <div style="padding: 0 4rem;">
                <div class="icon-block">
                    <h2 class="center"><i class="material-icons large">import_contacts</i></h2>
                </div>
                <h1 class="center"><strong class="bold">TESTS</strong></h1>
                <blockquote style="border-left: 5px solid #608b6a;">
                    <p class="flow-text" align="justify">Son dos los test que permitiran conocer las caracteristicas del estudiante:</p>
                    <p class="flow-text" align="justify">
                        <strong class="bold">Test de personalidad: </strong> Instrumento que permite conocer tanto los tipos de personalidad de cada persona como tambien su relación de compatibilidad para trabajar con otros</p>
                    <p class="flow-text" align="justify"><strong class="bold">Test de afinidad social: </strong> Herramienta especializada en medir las relaciones interpersonales, como atracción y rechazo entre los individuos de una comunidad o grupo social.</p>

                </blockquote>
            </div>
        </div>

        <% if current_user.accept_model == nil %>
        <div class="divider"></div>
        <div class="section scrollspy title_sub  black" id="eleccion">
            <div class="row">
                <div class="col s12 center-align">
                    <h1 style="color:white"><strong class="bold">ELECCIÓN: </strong><span class="light">Por favor seleccione la opción</span></h1>
                </div>
            </div>
            <div class="row">
                <div class="col s12 l12">
                    <div class="center-align">
                        <a href="#modalConModelo" class="pill btn btn-large red waves-effect waves-light" flow-text>Por el profesor</a>
                        &nbsp;
                        <a href="#modalSinModelo" class="pill btn btn-large blue waves-effect waves-light">Por el estudiante</a>
                    </div>
                    <br>
                    <div class="center-align">

                        <img class="responsive-img" src="http://drive.google.com/uc?export=view&id=0B_QiSDUvLSAcRDZPT2ZCZGRUUjg">
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>
    <div class="col hide-on-small-only m3 l2">
        <div class="columniwannapush" style="padding-top: 40px;">
            <ul class="section table-of-contents">
                <li><a href="#principal_student">Inicio</a></li>
                <li><a href="#proposito">Proposito</a></li>
                <li><a href="#tests">Tests</a></li>
                <% if current_user.accept_model == nil %>
                <li><a href="#eleccion">Elección</a></li>
                <% end %>
            </ul>
        </div>
    </div>
</div>

<!-- Modal CON MODELO -->
<div id="modalConModelo" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4><strong>Organizado por el profesor</strong> </h4>
        <br>
        <h5>CONSENTIMIENTO INFORMADO</h5>
        <p align="justify">A través del siguiente consentimiento informado yo <b style="font-size: 18px;"><%= current_user.name %> <%= current_user.surname %></b>, estudiante de la sección <%= current_user.sections.first.section %>. Accedo a ser organizado por el profesor para ser asignado a un equipo de trabajo y acepto que en el proceso la información obtenida sobre mi, sea utilizada con los fines de generar mi perfil de afinidad social y de personalidad.</p>

        <p align="justify">Además, se le informa que todos sus datos personales solo seran accedidos por su profesor, ayudante y coordinador de la asignatura con fines gestionar su identidad en la plataforma TeamMaker para identificarlo como usuario estudiante.</p>

        <p align="justify">Finalmente, tenga presente que toda la información obtenida por medio de los test de personalidad y de afinidad social son totalmente privados y manejados de forma interna por TeamMaker para la obtención de su tipo de personalidad y la generación de su equipo de trabajo.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect red">Rechazar</a>
        <%= link_to "Aceptar", root_path(accept_model: 't') , :class => "btn left"%>
    </div>
</div>

<!-- Modal SIN MODELO -->
<div id="modalSinModelo" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4><strong>Yo me organizo</strong> </h4>
        <div class="card-panel card-fix red lighten-4 red-text center-align">
            <i class="material-icons medium" style="padding-top:10px">directions_run</i>
            <h5 class="h5-fix"><b>Aún puedes cambiar de opinión</b></h5>
            <p class="flow-text" style="margin:10px">Recuerde que en el mundo laboral usted no elige a sus compañeros(as). Si quiere tener una experiencia real de aprendizaje elija la otra opción.</p>
            <a href="#modalConModelo" class="btn red waves-effect waves-light" style="margin-bottom:15px">Cambio de opinión</a>
        </div>
        <br>
        <h5>CONSENTIMIENTO INFORMADO</h5>
        <p align="justify">
            A través del siguiente consentimiento informado yo <b style="font-size: 18px;"><%= current_user.name %> <%= current_user.surname %></b> estudiante de la sección <%= current_user.sections.first.section %> . Acepto organizarme para generar mi equipo de trabajo y rechazo la opción de permitir que este sea generado por el profesor a cargo de mi sección.
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect red">Rechazar</a>
        <%= link_to "Aceptar", root_path(accept_model: 'f') , :class => "btn left"%>
    </div>
</div>
<% end %>